.h1-class{
grid-row-start: 1
}
.img-class{
grid-row-start: 2
}
.description-class{
grid-row-start: 3
}
.price-class{
grid-row-start: 4;
}
.stock-class{
grid-row-start: 5;
}
.return-button{
    grid-row-start: 6;
    grid-column-start: 1;
    justify-self: right;
}
.cart-button{
    grid-row-start: 6;
    grid-column-start: 1;
}