.nav-container {
    width: 100%;
    background-color: #9D4F1F;
    background-image: linear-gradient(170deg, #F7D8A8 5%,#9D4F1F 80%);
    color: #FFFBFF;
}

nav{
    max-width: 1720px;
    height: 4rem;
    margin: auto;
    display:grid;
    grid-template-columns: repeat(6, 1fr);
}
.climbingGear {
    grid-column-start: 3;
}
.gear {
    grid-column-start: 4;
}

.button{
    border-radius: 10px;
    background-color: #8e9b1b;
    padding: 0 20px;
    color: black;
    font-size: 1.5rem;
}
.button:hover {
box-shadow: rgba(253, 76, 0, 0.5) 0 3px 8px;
color: snow;
}


.button{
    justify-content: center;
    border-radius: 10px;
    border: 2px solid #000000;
    border-color: black;
    background-color: #8e9b1b;
    padding: 0 20px;
    color: black;
    font-size: 1.5rem;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    size: 15px;
}
.button:hover {
box-shadow: rgba(253, 76, 0, 0.5) 0 3px 8px;
color: snow;
}

.climbingGear {
    grid-column-start: 3;
}
.gear {
    grid-column-start: 4;
}
.noDec{
    text-decoration: none;
}